#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=ArchVoice
Exec=archvoice
Icon=archvoice
Categories=AudioVideo;Audio;Utility;
StartupNotify=true
